<nav class="navbar">
    <ul>
        <li><%= link_to 'Home', market_homepage_path, class:"navlink" %></li>
        <li><%= link_to 'Make a Listing', listings_index_path, class:"navlink" %></li>
        <li><%= link_to 'Sold Listings', market_sold_path, class:"navlink" %></li>
        <li><%= link_to 'About Us', market_about_path, class:"navlink" %></li>
        <li><%= link_to 'Contact Us', market_contact_path,class:"navlink" %></li>
    </ul>
</nav>