<nav class="navbar">
    <ul>
        <li><%= link_to 'My Orders', orders_index_path %></li>
        <li><%= link_to 'Buy/Sell', market_buyorsell_path %></li>
        <li><%= link_to 'Make a Listing', listings_index_path %></li>
        <li><%= link_to 'Sold Listings', market_sold_path %></li>
        <li><%= link_to 'About Us', market_about_path %></li>
        <li><%= link_to 'Contact Us', market_contact_path %></li>
    </ul>
</nav>