

<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Clan</th>
      <th>Condition</th>
      <th>Listing title</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.clan_id %></td>
        <td><%= card.condition_id%></td>
        <%= card.image_url %>
        
        <% if card.image_url %>
        
        <% end %> 
        <td><%= link_to 'Show', market_show_path(card) %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New card', market_card_new_path %>

