<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Clan:</strong>
  <%= Clan.find(@card.clan_id).name %>
</p>

<p>
  <strong>Card condition:</strong>
  <%= Condition.find(@card.condition_id).card_type %>
</p>

<p>
  <strong>Listing title:</strong>
  <%= Listing.find(@card.listing_id).title %>
</p>

<p>
      <%= image_tag(@card.picture,size:'200x200') if @card.picture.attached? %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', market_index_path %>

