<p id="notice"><%= notice %></p>

<h1> Card Listing</h1>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Clan:</strong>
  <%= Clan.find(@card.clan_id).name %>
</p>

<p>
  <strong>Card condition:</strong>
  <%= Condition.find(@card.condition_id).card_type %>
</p>

<p>
  <strong>Listing title:</strong>
  <%= Listing.find(@card.listing_id).title %>
</p>

<p>
  <%= image_tag(@card.picture,size:'200x300') if @card.picture.attached? %>
</p>

<p>
  <strong>Price:</strong>
  <%= Listing.find(@card.listing_id).price %>
</p>

<button><%= link_to 'Sell', market_sold_path %></button>

<%= link_to 'Edit', edit_card_path(@card) %> 
<%= link_to 'Back', listings_index_path %>


