<p id="notice"><%= notice %></p>

<%= render 'navbar'%>

<h1>Sold Card Listings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Clan</th>
      <th>Condition</th>
      <th>Sold by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
        <% if card.sold == true %>
            <tr>
                <td><%= card.name %></td>
                <td><%= Clan.find(card.clan_id).name %></td>
                <td><%= Condition.find(card.condition_id).card_type %></td>
                <td><%= Listing.find(card.listing_id).user.email %></td>
                <% if card.listing.user == current_user  %>
                    <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
            </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>




