<%= form_with model:@card do |form| %>
  

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_area :image_url %>
  </div>

  <div class="field">
    <%= form.label :clan_id %>
    <%= form.select :clan_id, options_for_select( Clan.all.collect { |u| [u.name, u.id] } ), :selected => @card.clan_id %>
  </div>

  <div class="field">
    <%= form.label :condition_id %>
    <%= form.select :condition_id, Condition.all.collect{|u| [u.card_type, u.id]} %>
  </div>

  <div class="field">
    <%= form.label :listing_id %>
    <%= form.select :listing_id, Listing.all.collect { |u| [u.title, u.id] } %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
